<a href="https://colab.research.google.com/github/AvinashKant/generative-ai/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df = pd.read_csv("output.csv")

In [5]:
df.head()

      name   age is_alive  score
0      NaN  95.0     True  97.29
1  ptqEjnp  50.0    False   7.91
2  zPmBbtk  18.0     True  57.37
3  HgsqFWg  58.0    False  65.72
4  LJouGEH  23.0     True  85.32